<div class="hero container">
<div class="row align center">
    <div class="frosty col-10 offset-1 text-center">
        <h1>Eduction for All</h1>
        <br/>
        <h3>Tech Healthcare Marketing Videography Etc.</h3>
        <br/>
        <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    </div>
    </div>
</div>

<br/>
<div class="row feature text-center">
    <div class="col-12 col-sm">
        <h3>Full Stack Web Development</h3>
        <p>Become a full stack developer by learning front end & back end technologies</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Video Editing</h3>
        <p>Learn how to edit & create high quality video with the newest teshnologies</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Join our Community</h3>
            <p>Learn with a community of like-minded individuals.</p>
    </div>
</div>